<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Гистограмма</title>
  <script src="https://www.google.com/jsapi"></script>
  <script>
    
    // var list = {{ list|safe }}
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['', 'April'],
     ['', 0]
   ]);
    
    {% for i in range(list|length) %}
        data.addRow(
            ['{{list[i][0]}}',
            { v: {{list[i][1][0]}}, f: '{{list[i][1][1]}}' }]
            );
    {% endfor %}
   
    var options = {
     title: 'Time',
     hAxis: {title: ''},
     vAxis: {title: 'H:Min'},
     width: 1080,
     
     'vAxis': {
        ticks: [{ v: 720, f: '12:00' }, { v: 1440, f: '24:00' }, { v: 2160, f: '36:00' }, { v: 2880, f: '48:00' }, { v: 3600, f: '60:00'}, { v: 4320, f: '72:00'}, { v: 5040, f: '84:00'}, { v: 5760, f: '96:00'}, { v: 6480, f: '108:00'}, { v: 7200, f: '120:00'}]
    }
    };
    
    
    var chart = new google.visualization.ColumnChart(document.getElementById('oil'));
    chart.draw(data, options);
   }
  </script>
 </head>
 <body>
  <div id="oil" style="width: 500px; height: 400px;"></div>
 </body>
 </html>