{% extends "base.html" %} 

{% block body %} 

<!-- <style>
    .color {
        /* width: 100px;
        height: 100px; */
        background-color: var(--color);
        /* border: 1px solid black;
        margin: 20px;
        display: inline-block */
    }
</style> -->
<!-- <body  class="color" style="--color: "> -->
<table>
    <tr>
        <td>
            <h4>
                <strong>
                    Hi, <span style="font-family: 'Lobster'">{{ user }}</span> !
                </strong>
            </h4>
        </td>
        <td class="topnav"><a href="{{url_for('dashboard')}}"><h4>Dashboard</h4></a></td>
       
        
    </tr>
</table>
<hr>
<!-- <h3>{{message}}</h3> -->
<form action="{{url_for('put_time')}}" method="post">
    {{current_date}} 
    <br><br>
    <input type="text" placeholder="01:00" data-mask="__:__" name="time" size="4">
    <br><br>
    
    <input type="submit" value="Post time">
    
</form>
<hr>
<script>
    Array.prototype.forEach.call(document.body.querySelectorAll("*[data-mask]"), applyDataMask);

    function applyDataMask(field) {
        var mask = field.dataset.mask.split('');
    
        // For now, this just strips everything that's not a number
        function stripMask(maskedData) {
            function isDigit(char) {
                return /\d/.test(char);
            }
            return maskedData.split('').filter(isDigit);
        }
        
        // Replace `_` characters with characters from `data`
        function applyMask(data) {
            return mask.map(function(char) {
                if (char != '_') return char;
                if (data.length == 0) return char;
                return data.shift();
            }).join('')
        }
        
        function reapplyMask(data) {
            return applyMask(stripMask(data));
        }
        
        function changed() {   
            var oldStart = field.selectionStart;
            var oldEnd = field.selectionEnd;
            
            field.value = reapplyMask(field.value);
            
            field.selectionStart = oldStart;
            field.selectionEnd = oldEnd;
        }
        
        field.addEventListener('click', changed)
        field.addEventListener('keyup', changed)
    }      
</script>

{% endblock body %}