{% extends "base.html" %} 

{% block body %} 

<table>
    <tr>
        <td>
            <h4>
                <strong>
                    Hi, {{ user }} !
                </strong>
            </h4>
        </td>
        <td class="topnav"><a href="{{url_for('dashboard')}}"><h4>Команда месяца</h4></a></td>
    </tr>
</table>
<hr>
<!-- <h3>{{message}}</h3> -->
<form action="{{url_for('put_time')}}" method="post">
    <input type="text" name="time"><br><br>
    <input type="submit" value="Внести">
</form>
<hr>

{% endblock body %}